---
import Layout from "@/layouts/Base";
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	image="/blog-placeholder-about.jpg"
>
	<h1 class="title">About me</h1>
	<p>
		I'm a passionate Software Engineer with nearly 3 years of experience in back-end development crafting robust and secure systems.
		I'm a CSE graduate from VIT-Vellore, and I'm eager to contribute my skills and enthusiasm to a challenging and rewarding role.
	</p>

	<h2 class="title mt-4">More about me:</h2>
	<ul class="list-inside list-disc">
		<li>Been passionate about technology from as young as I could remember!</li>
		<li>Discovered programming when I was around 15 years old.</li>
		<li>Also dabbled with "machine learning", "deep learning" while in college, and right now I'm keenly observing the rapid advancements in AI.</li>
		<li>I actively read books and interesting articles, and not only about software development. I’m interested in many things.</li>
		<li>A quote I'm currently obsessed with: "Who you are is defined by what you’re willing to struggle for" by <b>Mark Manson</b>.</li>
	</ul>
</Layout>
