---
import Layout from "@/layouts/Base";
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	image="/blog-placeholder-about.jpg"
>
	<h1 class="title">About me</h1>
	<p>
		I'm a passionate Software Engineer with nearly 3 years of experience in back-end development crafting robust and secure systems.
		I'm a CSE graduate from VIT-Vellore, and I'm eager to contribute my skills and enthusiasm to a challenging and rewarding role.
	</p>

	<h2 class="title mt-4">More about me:</h2>
	<ul class="list-inside list-disc">
		<li>I've been passionate about technology from as young as I can remember!</li>
		<li>I initially discovered the world of programming at the age of 15.</li>
		<li>In college, I explored machine learning and deep learning, and I'm now fascinated by the rapid advancements in AI.</li>
		<li>I'm an avid reader, exploring topics beyond software development. I'm always eager to learn and expand my knowledge.</li>
		<li>A quote I'm currently obsessed with: <b>"Who you are is defined by what you’re willing to struggle for"</b> by <b>Mark Manson</b>.</li>
		<li>I use Arch and vim, btw :)</li>
	</ul>
</Layout>
