---
import BaseLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreviewB";
import SocialMediaLinks from "@/components/SocialMediaLinks";
import {
	filterByLanguage,
	getAllPosts,
	sortMDByDate,
	sortMDByPinned,
} from "@/utils";
import type { CollectionEntry } from "astro:content";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts);
const allPostsByPinned = sortMDByPinned(allPostsByDate);
const filteredPostsByLanguage = filterByLanguage(allPostsByPinned, "en").slice(0, MAX_POSTS);

const tech: Array<{ title: string; val: string }> = [
	{
		title: "Back-end",
		val: "Python, Django, Flask, RabbitMQ, Redis."
	},
	{
		title: "Databases and search",
		val: "PostgreSQL, MySQL, SQLite, ElasticSearch."
	},
	{
		title: "DevOps",
		val: "AWS, Linux, Docker, Terraform."
	},
	{
		title: "Other Languages",
		val: "C, C++, Java, Javascript, Lua."
	},
	{
		title: "Miscellaneous tools",
		val: "Git, Bash, Markdown."
	},
];
---

<BaseLayout title="Home">
	<section>
		<h1 class="title">Hello World</h1>
		<p class="mb-2 sm:mb-4">
			To sum up about me in as few words as possible-
		</p>
		<ul class="list-disc pl-6 mb-4 sm:mb-8">
			<li>Software Engineer</li>
			<li>Computer Science Graduate</li>
			<li>Avid Reader</li>
			<li>Drink a lot of Coffee</li>
		<li>Love using Vim+Tmux for almost everything</li>
		</ul>
		<div>
			<span>You can find me on: </span>
		<SocialMediaLinks />
		</div>
	</section>

	<!--<section class="mt-8 sm:mt-16">-->
	<!--	<h2 class="title">Posts</h2>-->
	<!--	<ul class="space-y-4 sm:space-y-2">-->
	<!--		{-->
	<!--			filteredPostsByLanguage.map((p) => (-->
	<!--				<PostPreview post={p as CollectionEntry<"blog">} />-->
	<!--			))-->
	<!--		}-->
	<!--	</ul>-->
	<!--</section>-->

	<section class="mt-4 sm:mt-8">
		<h2 class="title">Technologies</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				tech.map(({ title, val }) => (
					<li>
						<span class="font-bold">
							{title}
						</span>
						: <p class="inline-block sm:mt-2">{val}</p>
					</li>
				))
			}
		</ul>
	</section>
</BaseLayout>
